<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/header :: head"></head>
</head>
<body>
	<div th:replace="common/header :: top-navigation">...</div>

	<div class="container">

		<div class="page-header">
			<h1>Welcome Prospect </h1>
		</div>

		<p class="lead">
			rautomates is an automation startup. We automate application release using non-intrusive code and deploy in wide variety of servers under different platforms.
			We also help organizations to accomplish infrastructure as a code
		</p>
		
	</div>

	<div th:replace="common/footer :: footer">...</div>
    
</body>
</html>